<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metazz.metazzspace.mapper.BlogMapper">
  <select id="queryBlogPage" resultType="com.metazz.metazzspace.model.entity.Blog">
      SELECT
        b.*,
        c.name categoryName,
        l.name labelName
      FROM
        blog b
          LEFT JOIN category c ON b.category_id = c.id
          LEFT JOIN label l ON b.label_id = l.id
      <where>
        1 = 1
        <if test="dto.categoryId != 0">
        AND b.category_id = #{dto.categoryId}
        </if>
        <if test="dto.labelId != 0">
        AND b.label_id = #{dto.labelId}
        </if>
        <if test="dto.status != '' and dto.status != null ">
        AND b.status = #{dto.status}
        </if>
        <if test="dto.title != '' and dto.title != null ">
        AND b.title like '%${dto.title}%'
        </if>
      </where>
      ORDER BY sort desc
  </select>
</mapper>